{% extends 'base.html' %}

{% block title %}Lista de Tamanhos, Sabores e Acompanhamentos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Tamanhos</h1>
    <a href="{% url 'adicionar_tamanho' %}" class="btn btn-primary mb-3">Adicionar Tamanho</a>
    <ul class="list-group mb-5">
        {% for tamanho in tamanhos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ tamanho.nome }} - R$ {{ tamanho.preco_adicional }}
                <span>
                    <a href="{% url 'editar_tamanho' tamanho.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'remover_tamanho' tamanho.id %}" class="btn btn-danger btn-sm ml-2">Remover</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum tamanho disponível.</li>
        {% endfor %}
    </ul>

    <h1 class="mb-4">Lista de Sabores</h1>
    <a href="{% url 'adicionar_sabor' %}" class="btn btn-primary mb-3">Adicionar Sabor</a>
    <ul class="list-group mb-5">
        {% for sabor in sabores %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ sabor.nome }} - R$ {{ sabor.preco_adicional }}
                <span>
                    <a href="{% url 'editar_sabor' sabor.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'remover_sabor' sabor.id %}" class="btn btn-danger btn-sm ml-2">Remover</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum sabor disponível.</li>
        {% endfor %}
    </ul>

    <h1 class="mb-4">Lista de Acompanhamentos</h1>
    <a href="{% url 'adicionar_acompanhamento' %}" class="btn btn-primary mb-3">Adicionar Acompanhamento</a>
    <ul class="list-group">
        {% for acompanhamento in acompanhamentos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ acompanhamento.nome }} - R$ {{ acompanhamento.preco_adicional }}
                <span>
                    <a href="{% url 'editar_acompanhamento' acompanhamento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'remover_acompanhamento' acompanhamento.id %}" class="btn btn-danger btn-sm ml-2">Remover</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum acompanhamento disponível.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
