{% extends 'base.html' %}

{% block title %}Remover Tamanho{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Remover Tamanho</h2>
    <p class="mb-4">Tem certeza de que deseja remover o tamanho <strong>"{{ tamanho.nome }}"</strong>?</p>

    <form method="POST" class="mb-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remover</button>
        <a href="{% url 'listar_ingredientes' %}" class="btn btn-secondary ml-2">Cancelar</a>
    </form>
</div>
{% endblock %}
