{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Produtos</h1>
    <a href="{% url 'adicionar_produto' %}" class="btn btn-primary mb-3">Adicionar Produto</a>
    <ul class="list-group">
        {% for produto in produtos %}
            <li class="list-group-item d-flex align-items-center">
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="img-thumbnail mr-3" style="width: 100px; height: 100px;">
                {% else %}
                    <!-- Sem imagem padrão -->
                    <span class="mr-3" style="width: 100px; height: 100px; display: block; background: #f0f0f0; border: 1px solid #ddd;">Sem imagem</span>
                {% endif %}
                <div class="flex-grow-1">
                    <h5 class="mb-1">{{ produto.nome }}</h5>
                    <p class="mb-1">R$ {{ produto.preco }}</p>
                </div>
                <span>
                    <a href="{% url 'editar_produto' produto.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'remover_produto' produto.id %}" class="btn btn-danger btn-sm ml-2">Remover</a>
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">Nenhum produto disponível.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
