{% extends 'base.html' %}

{% block title %}Excluir Produto{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Excluir Produto</h2>
    <p class="mb-4">Você tem certeza que deseja remover o produto <strong>{{ produto.nome }}</strong>?</p>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remover</button>
        <a href="{% url 'listar_produtos' %}" class="btn btn-secondary ml-2">Cancelar</a>
    </form>
</div>
{% endblock %}
