<h2>Resumo do Pedido Personalizado</h2>
<p>Sabor: {{ pedido.sabor.nome }}</p>
<p>Acompanhamentos:</p>
<ul>
    {% for acompanhamento in pedido.acompanhamentos.all %}
        <li>{{ acompanhamento.nome }}</li>
    {% empty %}
        <li>Nenhum acompanhamento selecionado</li>
    {% endfor %}
</ul>
<p>Tamanho: {{ pedido.tamanho.nome }}</p>
<p>Quantidade: {{ pedido.quantidade }}</p>
<p>Valor Total: R$ {{ total_final }}</p>

<form method="POST">
    {% csrf_token %}
    <h3>Método de Pagamento</h3>
    {{ form.as_p }}  
    
    <button type="submit">Confirmar Pedido</button>
</form>
