{% extends 'base.html' %}

{% block title %}Resumo do Pedido{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Resumo do Pedido de {{ pedido.produto.nome }}</h2>
    
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="card border-light">
                <div class="card-body">
                    <p><strong>Tamanho:</strong> {{ pedido.tamanho.nome }}</p>
                    <p><strong>Quantidade:</strong> {{ pedido.quantidade }}</p>
                    <p><strong>Valor Total:</strong> R$ {{ total_final }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="bg-light p-4 border rounded">
                {% csrf_token %}
                <h3 class="text-center mb-4">Método de Pagamento</h3>
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Confirmar Pedido</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
